<!-- Bottom Nav -->
<footer>
    <nav class="fixed-bottom navbar navbar-dark bg-primary">
    <h7 class="display-6 navbar-text">
      &copy; Mar Jerico Lagmay-301218765-Web Application Development-FallSemester
    </h7>
  </nav>
</footer>
